<!DOCTYPE html>

<html>
    <head>
        <title><%= title %></title>
        <link rel="shortcut icon" type="image/png" href="<%= static ? '.' : '' %>/images/favicon.png">
        <link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
        <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lustria">
        <link rel="stylesheet" href="<%= static ? '.' : '' %>/css/bootstrap.min.css">
        <link rel="stylesheet" href="<%= static ? '.' : '' %>/css/bootstrap-responsive.min.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="<%= static ? '.' : '' %>/css/tishadow.css">
        <!-- Google Analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-29603329-2', 'yydigital.com');
          ga('send', 'pageview');
        </script>
        </head>
    <body data-spy="scroll" data-target=".sidebar">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/"><span class="yyblue">ti</span>shadow</a>
          <div class="nav-collapse collapse pull-right">
            <ul class="nav">
              <% for(var i=0; i<sections.length; i++) { %>
              <li <% if (title.indexOf(sections[i]) >= 0 ) { %> class="active" <% } %> ><a
                href="<%= static ? '.' : '' %>/<%= sections[i] %>"><%= sections[i] %></a></li>
              <% } %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
      <div class="content">
        <div class="container-narrow">
          <%- body %>
      </div>
      </div>
      <script src="http://code.jquery.com/jquery.js"></script>
      <script src="/js/bootstrap.min.js")"></script>
    </body>
    <hr/>
    <footer><p><center>
      <iframe
        src="http://ghbtns.com/github-btn.html?user=dbankier&repo=tishadow&type=watch&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="90" height="20"></iframe>
      <iframe
        src="http://ghbtns.com/github-btn.html?user=dbankier&repo=tishadow&type=fork&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="90" height="20"></iframe>
<a href="https://twitter.com/davidbankier" class="twitter-follow-button"
  data-show-count="false">Follow @davidbankier</a>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://tishadow.yydigital.com">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</center></p>
<p><center>a <a class="yybrand" href="http://www.yydigital.com/">
<span class="yyblue">YY</span> Digital
</a> project</center></p>
    </footer>
<
